html, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body{
  background-image: url('../img/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.cover-container {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-content {
  margin-left: 250px; /* Asigură lățimea sidebar-ului */
  padding-top: 70px; /* Evită suprapunerea cu navbar-ul */
  width: calc(100% - 250px); /* Compensează lățimea sidebar-ului */
  min-height: calc(100vh - 70px); /* Ajustează pentru navbar și footer */
}